<div class="gitter-container">
  <div class="gitter-chat"></div>
  <script>
    ((window.gitter = {}).chat = {}).options = {
      room: 'common-workflow-language/common-workflow-language',
      activationElement: 'js-gitter-toggle-chat-button',
      targetElement: '.gitter-chat',
      showChatByDefault: true,
      preload: true,
    };
  </script>
  <script>
    window.addEventListener('DOMContentLoaded', () => {
      let bar = document.querySelector('.gitter-chat-embed-action-bar');
      let title = document.createTextNode('@common-workflow-language');
      bar.prepend(document.createElement('h2'));
      document.querySelector('.gitter-chat-embed-action-bar h2').appendChild(title);
    });
  </script>
  <script src="https://sidecar.gitter.im/dist/sidecar.v1.js" async defer></script>
</div>
