<header class="site-header">
  <div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light top-nav">
      <div class="nav-wrap">
      <a class="navbar-brand site-logo-link" href="{{ site.url }}{{ site.baseurl }}"><img class="site-logo-img" src="{{ "/CWL-Logo-Header.png" | relative_url }}" alt="Common Workflow Language logo"></a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#topNav" aria-controls="topNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button></div>

      <div class="collapse navbar-collapse" id="topNav"> 
        {% include top_nav.html %}
        <!-- <form class="form-inline my-2 my-lg-0 search-bar-top">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form> -->
      </div>
    </nav>

  </div>

</header>
