{% comment %}
Expects to receive yaml nav data via an assigned nav_data variable, 
from the including page. The first item in the yaml array 
should be: - nav_header: Nav Title
{% endcomment %}

{% assign nav_heading = nav_data[0].nav_header %}

<nav class="left-nav" aria-label="Page Shortcuts Menu">
  <button class="navbar-toggler left-nav-toggle" type="button" data-bs-toggle="collapse" data-bs-target="#leftNav" aria-controls="leftNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="left-nav-title-mobile">{{ nav_heading }}</span>
  </button>

  <div class="collapse navbar-collapse" id="leftNav">
    <h2 class="left-nav-title">{{ nav_heading }}</h2>
    <ul class="left-nav-links">
      {% for menu_item in nav_data %}
        {% unless menu_item.nav_header %}
          {% if menu_item.submenu %}
            {% assign sub = menu_item.submenu %}
            <li>
              <a class="left-nav-link" href="{{ menu_item.url }}">{{ menu_item.title }}</a>
            <ul class="left-subnav">
              {% for sub_item in sub %}
                <li class="indent"><a class="left-nav-link" href="{{ sub_item.url }}">{{ sub_item.title }}</a></li>
              {% endfor %}
            </ul>
            </li>
          {% else %}
            <a href="{{ menu_item.url }}">{{ menu_item.title }}</a>
          {% endif %}
        {% endunless %}
      {% endfor %}
    </ul>
  </div>
</nav>
