<nav class="navbar navbar-expand-lg navbar-light top-nav sticky-top" aria-label="main navigation">
  <div class="nav-wrap container-fluid">
    <a class="navbar-brand" href="/">
      <img class="nav-logo" src="{{ "assets/img/CWL-Logo-HD-cropped2.png" | relative_url }}" alt="CWL logo | Homepage link" height="50" width="106">
    </a>
    <button class="navbar-toggler navbar-toggler-right ms-auto" type="button" data-bs-toggle="collapse" data-bs-target="#topNav" aria-controls="topNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="topNav">
      <ul class="nav navbar-nav ms-auto mt-2 mt-lg-0">
      {%- if site.data.navigation.header[0] -%}
        {%- for item in site.data.navigation.header -%}
          {%- if item.type contains "dropdown" -%}
            <li class="dropdown nav-item">
              <a href="#" class="dropdown-toggle nav-link" id="navbarDropdown" data-bs-toggle="dropdown" role="button" aria-expanded="false">{{ item.title}}<span class="caret"></span></a>
              {%- if item.subpages -%}
                <ul class="dropdown-menu">
                {%- for page in item.subpages -%}
                  {%- if page.url contains "http" or "http" contains page.url -%}
                    <li><a href="{{ page.url }}" class="{{ page.title | downcase }} dropdown-item">{{ page.title }}<i class="fad fa-external-link-alt"></i></a></li>
                  {%- else -%}
                    <li><a href="{{ page.url | absolute_url }}" class=" dropdown-item">{{ page.title }}</a></li>
                  {%- endif -%}
                {%- endfor -%}
                </ul>
              {%- endif -%}

            {%- if item.subfolderitems[0] -%}
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                {%- for entry in item.subfolderitems -%}
                  <li class="dropdown-item nav-item"><a class="nav-link" href="{{ entry.url | absolute_url }}">{{ entry.page }}</a></li>
                {%- endfor -%}
              </ul>
          </li>
            {%- endif -%}

          {%- else -%}
          {%- if page.title == item.title -%}
            <li class="nav-item"><a class="nav-link is-current-page" href="{{ item.url | absolute_url }}" aria-current="page">{{ item.title }}</a></li>
          {%- else -%}
            <li class="nav-item"><a class="nav-link" href="{{ item.url | absolute_url }}">{{ item.title }}</a></li>
          {%- endif -%}
          {%- endif -%}
        {%- endfor -%}
      {%- endif -%}

      <li class="nav-item nav-social-icons">
        <a href="{{ site.github_url }}" aria-label="GitHub link"><i class="fab fa-github first-icon" alt="GitHub logo - an Octocat" title="CWL GitHub Organization"></i></a>
        <a href="{{ site.twitter_url }}" aria-label="Twitter link"><i class="fab fa-twitter" alt="Twitter logo - a flapping bird" title="CWL Twitter Account"></i></a>
        <a href="{{ site.youtube_url }}" aria-label="YouTube link"><i class="fab fa-youtube" alt="YouTube logo - a play button" title="CWL YouTube Channel"></i></a>
        <a href="{{ site.matrix_url }}" class="matrix-link" aria-label="CWL Matrix Space">
          <svg width="26" height="29.7" class="matrix-svg" xmlns="http://www.w3.org/2000/svg" xmlns:cc="http://creativecommons.org/ns#" xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#" version="1.1" viewBox="0 0 27.9 32" aria-labelledby="matrix-title" aria-describedby="matrix-description">
           <title class="sr-only" id="matrix-title">CWL Matrix Space</title>
           <desc class="sr-only" id="matrix-description">A bold lowercase "m" inside thin square brackets</desc>
           <g transform="translate(-.095 .005)" fill="#040404">
            <path d="m27.1 31.2v-30.5h-2.19v-0.732h3.04v32h-3.04v-0.732z"/>
            <path class="svg-matrix-path" d="m8.23 10.4v1.54h0.044c0.385-0.564 0.893-1.03 1.49-1.37 0.58-0.323 1.25-0.485 1.99-0.485 0.72 0 1.38 0.14 1.97 0.42 0.595 0.279 1.05 0.771 1.36 1.48 0.338-0.5 0.796-0.941 1.38-1.32 0.58-0.383 1.27-0.574 2.06-0.574 0.602 0 1.16 0.074 1.67 0.22 0.514 0.148 0.954 0.383 1.32 0.707 0.366 0.323 0.653 0.746 0.859 1.27 0.205 0.522 0.308 1.15 0.308 1.89v7.63h-3.13v-6.46c0-0.383-0.015-0.743-0.044-1.08-0.0209-0.307-0.103-0.607-0.242-0.882-0.133-0.251-0.336-0.458-0.584-0.596-0.257-0.146-0.606-0.22-1.05-0.22-0.44 0-0.796 0.085-1.07 0.253-0.272 0.17-0.485 0.39-0.639 0.662-0.159 0.287-0.264 0.602-0.308 0.927-0.052 0.347-0.078 0.697-0.078 1.05v6.35h-3.13v-6.4c0-0.338-7e-3 -0.673-0.021-1-0.0114-0.314-0.0749-0.623-0.188-0.916-0.108-0.277-0.3-0.512-0.55-0.673-0.258-0.168-0.636-0.253-1.14-0.253-0.198 0.0083-0.394 0.042-0.584 0.1-0.258 0.0745-0.498 0.202-0.705 0.374-0.228 0.184-0.422 0.449-0.584 0.794-0.161 0.346-0.242 0.798-0.242 1.36v6.62h-3.13v-11.4z"/>
            <path d="m0.936 0.732v30.5h2.19v0.732h-3.04v-32h3.03v0.732z"/>
           </g>
          </svg>
        </a>
        <a href="{{ site.discourse_url }}" aria-label="Discourse link" title="CWL Discourse Forum"><i alt="Discourse logo - a bolded speech bubble" class="fab fa-discourse"></i></a>
      </li>
    </ul>
    </div>

  <div>
</nav>

