<ul class="nav navbar-nav ms-auto mt-2 mt-lg-0">
  <!-- We're doing the header menu -->
  {%- if site.data.navigation.header[0] -%}
    <!-- Check the items in the header menu -->
    {%- for item in site.data.navigation.header -%}
      <!-- For Header Items -->
      <!-- If the item's a dropdown -->
      {%- if item.type contains "dropdown" -%}
        <!-- Header item says dropdown -->
        <!-- Make a dropdown li -->
        <li class="dropdown nav-item">
          <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ item.title}}<span class="caret"></span></a>
          <!-- If the dropdown has subpages -->
          {%- if item.subfolderitems[0] -%}
            <!-- Create a ul for the subpages -->
            <ul class="dropdown-menu">
              <!-- For each subpage -->
              {%- for entry in item.subfolderitems -%}
                <!-- If the  subpage has http -->
                <li class="dropdown-item nav-item"><a class="nav-link" href="{{ entry.url | absolute_url }}">{{ entry.page }}</a></li>
              {%- endfor -%}
            <!-- Close ul 2 -->
            </ul>
        </li>
          <!-- done checking if dropdown has subpages  -->
          {%- endif -%}
        {%- else -%}
        <li class="nav-item"><a class="nav-link" href="{{ item.url | absolute_url }}">{{ item.title }}</a></li>
      {%- endif -%}
    {%- endfor -%}
  {%- endif -%}
<!-- CLose ul 1 -->
</ul>
