<div class="twitter-feed" id="twitter-feed"><a class="twitter-timeline" data-width="280" data-height="600" data-dnt="true" data-theme="light" href="https://twitter.com/commonwl?ref_src=twsrc%5Etfw">Tweets by @commonwl</a></div> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

<script>
var twitterText = '<p>See Tweets by <a href="https://twitter.com/commonwl">@commonwl <img class="twitter-icon" src="{{ "/assets/img/twitter.svg" | relative_url }}" width="20" alt="Twitter Icon"></a></p>';

window.addEventListener("load", function() {
  if (! document.querySelector('[id^="twitter-widget"]')) {
    document.getElementById("twitter-feed").innerHTML = twitterText;
  }
});
</script>
