.site-footer {
  background-color: $footer-bg-color;
  padding: 10px 15px 0
}

.site-footer a {
  // color: #005285
}

.site-footer a:hover {
  // color: #22527c
}

.footer-text {
  margin: 0 auto;
  text-align: center
}
