@include media-breakpoint-up(md) {
  .site-header-logo {
    align-items: center;
    display: flex;
    height: 300px;
    overflow: hidden;

    img {
      height: 360px;
    }
  }
}

@include media-breakpoint-up(lg) {
  .site-header-logo {
    justify-content: center;
  }
}
