.site-header-logo {
  // height: 400px;
  height: 325px;
  overflow: hidden;

  img {
    // margin: 0 12.5%;
    // position: relative;
    // top: -20%;
    // width: 75%;
    margin: 0 20%;
    position: relative;
    top: -15%;
    width: 60%;
  }
}
