.home {
  margin: 20px 0 0;
}

.social-bar {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  margin: 17px 0 11px;

  a,
  form {
    // margin: 0 0 6px;
    margin: 0 6px 6px;
  }
}

.cwl-support {
  font-weight: 700;
  padding: 0 1rem 0 0;
  // padding-right: 1em;
}

@include media-breakpoint-up(sm) {
  .cwl-support {
    padding: 0;
  }
}

.section {
  a {
    visibility: hidden;
  }

  &:hover a {
    color: rgb(201, 201, 201);
    visibility: visible;
  }
}

.paypal-btn {
  // bottom: -6px;
  bottom: 0;
  height: 26px;
  position: relative;
  vertical-align: middle;
}

.toc-nav-container {
  background-color: $toc--background-color;
  border: 1px solid $toc--border-color;
  border-radius: 6px;
  // border: 5px;
  color: $blue;
  float: left;
  line-height: 1.45;
  margin-bottom: 1em;
  margin-right: 1.5em;
  padding: 1em;

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  a {

    color: #005285;

    &:hover {
      color: #22527c;
    }
  }
}

.intro-container p {
  word-break: break-word;
}

.open-stand img {
  margin: 0 0 16px;
}

@include media-breakpoint-up(sm) {
  .open-stand {
    float: right;

    img {
      margin: 0;
    }
  }
}

.youtube-container {
  // clear: right;
  // float: right;
  // width: 100%;

  iframe,
  video {
    max-width: 100%;
  }
}

@include media-breakpoint-up(sm) {
  .youtube-container {
    float: right;
    margin: 0 0 0 36px;
    width: 55%;
  }
}

@include media-breakpoint-up(lg) {
  .youtube-container {
    width: 560px;
  }
}

// Video Player
.plyr--video {
  // margin: -43px 0 0;
}

.plyr__poster {
  background-image: url('../img/intro_video_poster_title4.png');
  background-position: 50% 3%;
}

.title-bar {
  background: transparent;
  color: #fff;
  left: 0;
  padding: 10px 10px 10px 21px;
  position: relative;
  right: 0;
  top: 2.5px;
  transition: opacity .4s ease-in-out, transform .4s ease-in-out;
  z-index: 3;

  a {
    font-size: 16px;
  }
}

@media (min-width: 480px) {
  .plyr--video .plyr__controls {
    background: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, .75)) !important;
    padding: 5px 10px !important;
  }
}

// Twitter Feed
.twitter-feed {
  clear: both;
  width: 80%;
}

@include media-breakpoint-up(sm) {
  .twitter-feed {
    float: right;
    margin: 0 0 0 36px;
    width: initial;
  }
}

@include media-breakpoint-up(xl) {
  .twitter-feed {
    margin: 16px 0 0 36px;
  }
}
