.top-nav,
.navbar-brand,
.nav-logo {
  height: $nav-height-mobile;
}

@include media-breakpoint-up(lg) {
  .top-nav,
  .navbar-brand,
  .nav-logo {
    height: $nav-height-desktop;
  }
}

.top-nav {
  border-bottom: 1px solid $nav--border-color;
  box-sizing: content-box;
}

.nav-wrap {
  background: $nav--bg-color;
  border: 0;
  margin: 0 0 0 auto;
  padding: 0;
  // width: 100%;
  width: auto;
}

.navbar-brand {
  box-sizing: content-box;
  left: 0;
  position: absolute;
  top: 0;
}

.nav-logo {
  // margin: 0 0 0 6px;
  // margin: 6px 0 0 6px;
  margin: 3px 0 3px 6px;
  object-fit: contain;
}

@include media-breakpoint-up(lg) {
  .nav-wrap {
    border: 0;
  }

  .navbar-brand {
    // display: none;
    height: $nav--brand-height-desktop;
    padding: 0;
  }

  .nav-logo {
    height: $nav--logo-height-desktop;
    margin: $nav--logo-margin-desktop;
  }
}

.navbar-toggler {
  margin: 5px 1rem 5px 0;
}

.navbar-collapse {
  background: transparent;
  border-bottom: 1px solid $nav--border-color-2;
}

@include media-breakpoint-up(lg) {
  .navbar-collapse {
    border: 0;
  }
}

.nav-item {
  background: $nav--bg-color;
  padding: $nav--item-padding;
}

.navbar-light .navbar-nav {
  .nav-link {
    &:hover,
    &:focus,
    &:active {
      color: $cwl-red;
    }

    &.is-current-page {
      color: $cwl-red;
      font-weight: 500;
    }
  }
}

.nav-social-icons {
  margin: 0 auto;
  padding: $nav--item-padding 0.25rem;
}

.fab {
  font-size: 2em;
  margin: $nav--item-margin;
}

@include media-breakpoint-up(lg) {
  .nav-item {
    padding: 0 0.5rem;
  }

  .nav-social-icons {
    margin: 0 1rem 0 0;
    padding: 0 1rem;

    .fab {
      font-size: 1.75rem;
      margin: 0 $nav--item-margin;
    }
  }
}

@include media-breakpoint-up(xl) {
  .nav-item {
    padding: 0 0.75rem;
  }
}

.first-icon {
  margin-left: 0;
}

.fa-twitter {
  color: $twitter-blue;
}

.fa-github {
  color: $black;
}

.skip-nav {
  margin: 0;
  // background: white;

  li {
    height: 0;
    list-style: none;
    width: 0;
  }

  .skip-link {
    background: white;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: -40px;
    transition: top 1s ease-out, background 1s linear;
      -webkit-transition: top 1s ease-out, background 1s linear;

    &:focus {
      color: $cwl-red;
      box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
      font-weight: 700;
      height: auto;
      left: 0;
      padding: 15px 23px 14px;
      position: absolute;
      top: 0;
      transition: top .1s ease-in, background .5s linear;
        -webkit-transition: top .1s ease-in, background .5s linear;
      z-index: 2000;
    }
  }
}
