.top-nav,
.navbar-brand,
.nav-logo {
  height: $nav-height-mobile;
}

@include media-breakpoint-up(lg) {
  .top-nav,
  .navbar-brand,
  .nav-logo {
    height: $nav-height-desktop;
  }
}

.top-nav {
  border-bottom: 1px solid $nav-border-color;
  box-sizing: content-box;
}

.nav-wrap {
  background: $nav-bg-color;
  border: 0;
  margin: 0 0 0 auto;
  padding: 0;
  // width: 100%;
  width: auto;
}

.navbar-brand {
  box-sizing: content-box;
  left: 0;
  position: absolute;
  top: 0;
}

@include media-breakpoint-up(lg) {
  .nav-wrap {
    border: 0;
  }

  .navbar-brand {
    display: none;
  }
}

.nav-logo {
  // margin: 0 0 0 6px;
  margin: 6px 0 0 6px;
  object-fit: contain;
}

.navbar-toggler {
  margin: 10px 1rem 10px 0;
}

.navbar-collapse {
  background: transparent;
  border-bottom: 1px solid $nav-border-color-2;
}

@include media-breakpoint-up(lg) {
  .navbar-collapse {
    border: 0;
  }
}

.nav-item,
.nav-social-icons {
  padding: $nav-menu-padding;
}

.nav-item {
  background: $nav-bg-color;

  // &:hover,
  // &:focus,
  // &:active {
  //   // background: $cwl-menu-blue;
  //   color: #b5314c;
  // }
}

.navbar-light .navbar-nav {
  .nav-link {
    &:hover,
    &:focus,
    &:active {
      color: $cwl-red;
    }
  }
}

.nav-social-icons {
  margin: 0 auto;
}

.fab {
  font-size: 2em;
  margin: $nav-item-margin;
}

@include media-breakpoint-up(lg) {
  .nav-item {
    padding: 0 0.5rem;
  }

  .nav-social-icons {
    margin: 0 1rem 0 0;
    padding: 0 1rem;

    .fab {
      font-size: 1.75rem;
      margin: 0 $nav-item-margin;
    }
  }
}

@include media-breakpoint-up(xl) {
  .nav-item {
    padding: 0 0.75rem;
  }
}

.first-icon {
  margin-left: 0;
}

.fa-twitter {
  color: $twitter-blue;
}

.fa-github {
  color: $black;
}
