///////////////////////
// Sticky Footer Fix //
///////////////////////

.site-wrapper {
  min-height: 100vh;
  position: relative;
}

.content-wrapper {
  padding-bottom: 76px;
}

// Account for footer wrapping
@include media-breakpoint-up(xxs) {
  .content-wrapper {
    padding-bottom: 86px;
  }

  .page-short {
    .content-wrapper {
      padding-bottom: 75px;
    }
  }
}

@include media-breakpoint-up(md) {
  .page-short {
    .content-wrapper {
      padding-bottom: 146px;
    }
  }
}

.site-footer {
  bottom: 0;
  margin: 24px 0 0;
  min-height: 50px;
  position: relative;
  width: 100%;
}

@include media-breakpoint-up(md) {
  .page-short .site-footer {
    position: absolute;
  }

  .post-content {
    margin: 0 0 38px;
  }
}

///////////////////////////
// End Sticky Footer Fix //
///////////////////////////

//////////////
// Homepage //
//////////////

.page-section {
  margin: 1rem 0;
}

@include media-breakpoint-up(md) {
  .page-section {
    margin: 2rem auto;
  }
}

@include media-breakpoint-up(lg) {
  .page-section {
    &.indented {
      // margin: 2rem auto;
      width: 90%;
    }
  }
}

.section-header {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.getting-started,
.community {
  li {
    line-height: 1.5;
    margin: 0 0 0.5rem;

    &::marker {
      color: $cwl-red;
      font-size: 1.125rem;
    }
  }
}

///////////////////
// Regular pages //
///////////////////

.post-header {
  background: $cwl-red;
  color: $white;
  left: 0;
  margin: 0;
  padding: 10px 0 0 12px;
  position: absolute;
  width: 100%;

  .container {
    padding-left: 0;
  }
}

@include media-breakpoint-up(sm) {
  .post-header {
    padding-left: 24px;
  }
}

@include media-breakpoint-up(lg) {
  .post-title {
    font-size: 2.25rem;
  }
}

.post-content {
  position: relative;
  top: 84px;
}

@include media-breakpoint-up(sm) {
  .post-content {
    top: 90px;
  }
}

@include media-breakpoint-up(md) {
  .post-content {
    top: 92px;
  }
}

@include media-breakpoint-up(lg) {
  .post-content {
    top: 96px;
  }
}

@include media-breakpoint-up(xl) {
  .post-content {
    top: 102px;
  }
}

