///////////////////////
// Sticky Footer Fix //
///////////////////////

.site-wrapper {
  min-height: 100vh;
  position: relative;
}

.content-wrapper {
  padding-bottom: 75px;
}

// Account for footer wrapping
@include media-breakpoint-up(xxs) {
  .content-wrapper {
    padding-bottom: 146px;
  }
}

.site-footer {
  bottom: 0;
  margin: 24px 0 0;
  min-height: 50px;
  position: relative;
  width: 100%;
}

@include media-breakpoint-up(md) {
  .page-short .site-footer {
    position: absolute;
  }
}

///////////////////////////
// End Sticky Footer Fix //
///////////////////////////

//////////////
// Homepage //
//////////////

.page-section {
  margin: 1rem 0;
}

@include media-breakpoint-up(md) {
  .page-section {
    margin: 2rem auto;
  }
}

@include media-breakpoint-up(lg) {
  .page-section {
    &.indented {
      // margin: 2rem auto;
      width: 90%;
    }
  }
}

.section-header {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.getting-started,
.community {
  li {
    line-height: 1.5;
    margin: 0 0 0.5rem;

    &::marker {
      color: $cwl-red;
      font-size: 1.125rem;
    }
  }
}

///////////////////
// Regular pages //
///////////////////

.post-header {
  background: $cwl-red;
  color: $white;
  left: 0;
  margin: 0;
  padding: 10px 0 0 12px;
  position: absolute;
  width: 100%;

  .container {
    padding-left: 0;
  }
}

@include media-breakpoint-up(sm) {
  .post-header {
    padding-left: 24px;
  }
}

@include media-breakpoint-up(lg) {
  .post-title {
    font-size: 2.25rem;
  }
}

.post-content {
  position: relative;
  top: 84px;
}

@include media-breakpoint-up(sm) {
  .post-content {
    top: 90px;
  }
}

@include media-breakpoint-up(md) {
  .post-content {
    top: 92px;
  }
}

@include media-breakpoint-up(lg) {
  .post-content {
    top: 96px;
  }
}

@include media-breakpoint-up(xl) {
  .post-content {
    top: 102px;
  }
}

////////////
// Tables //
////////////

// Soften table header row bottom border (overrides bootstrap)
.table > :not(:last-child) > :last-child > * {
  border-bottom: 2px solid $table-border-light;
}

.table {
  margin: 0 0 2rem;
  table-layout: fixed;

  th,
  tr,
  td {
    display: block;
  }

  th {
    word-break: keep-all;
  }

  tr {
    background: white;
  }

  tr:nth-of-type(odd) td,
  tr:nth-of-type(even) td {
    background: #f2f2f2;
    border-bottom: 1px solid #ccc;

    &:nth-of-type(1) {
      background: #b5314c;
    }
  }

  // tr:nth-of-type(odd) td:nth-of-type(1),
  // tr:nth-of-type(even) td:nth-of-type(1) {
  //   background: #b5314c;
  // }

  td {
    background: #f2f2f2;
    border-bottom: 1px solid #ccc;
    // width: 100%;
    // min-width: 100%;

    &:first-of-type {
      background: $cwl-red;
      border: 0;

      a {
        color: white;
        font-weight: 700;
      }
    }

    &:nth-of-type(n+2) {
      background: white;
    }
  }
}

@include media-breakpoint-up(md) {
  .table {
    table-layout: fixed;

    tr:nth-of-type(n+1) {
      a {
        font-weight: 400;
        color: #0d6efd;
      }
    }

    tr {
      display: table-row;
      // width: initial;

      &:nth-of-type(odd),
      &:nth-of-type(odd) td {
        background: #f2f2f2 !important;
        border-bottom: 1px solid #ccc;
      }

      &:nth-of-type(even),
      &:nth-of-type(even) td {
        background: white !important;
        border-bottom: 1px solid #dee2e6;
      }
    }

    th,
    td {
      display: table-cell;

      &:first-of-type {
        width: 22%;
        word-break: keep-all;
      }
    }

    th {
      background: #b5314c;
      color: white;
    }

    td {
      background: #f2f2f2;
    }
  }
}

@include media-breakpoint-up(lg) {
  .cols-2 {
    th,
    td {
      width: 70%;
    }
  }

  .cols-3 {
    th,
    td {
      width: 60%;

      &:first-of-type {
        width: 25%;
      }
    }
  }

  .table th,
  .table td {
    &:first-of-type {
      white-space: nowrap;
      width: 22%;
    }
  }
}
