.page-section {
  margin: 1rem 0;
}

@include media-breakpoint-up(md) {
  .page-section {
    margin: 2rem 0;
  }
}

.section-header {
  align-items: center;
  display: flex;
  flex-direction: column;
}

// Soften table header row bottom border
.table > :not(:last-child) > :last-child > * {
  border-bottom: 2px solid $table-border-light;
}
