body,
a {
  word-break: break-word;
}

h1,
.h1,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  margin: 0 0 1rem;
}

h2,
.h2 {
  margin: 0 0 1.25rem;
}

.cwl-red {
  color: $cwl-red;
}

.no-bold {
  font-weight: 400;
}

.heading__anchor-symbol {
  color: transparent;
  text-decoration: none;

  &:hover,
  &:focus,
  &:active {
    color: $cwl-red;
    // color: #c9c9c9;
  }
}
