h1, h2, h3, h4, h5, h6, 
.h1, .h2, .h3, .h4, .h5, .h6 {
  margin: 20px 0 10px;
}

h1,
.h1 {
  margin: 20px 0 10px;
}

h2,
.h2 {
  font-size: 1.875rem;
  margin: 20px 0 10px;
}

h3,
.h3 {
  font-size: 1.5rem;
}

ol,
ul,
dl {
  // padding: 0 0 0 20px;
  padding: 0 0 0 1.25rem;
}


@include media-breakpoint-up(sm) {
  ol,
  ul,
  dl {
    // padding: 0 0 0 30px;
    padding: 0 0 0 1.875rem;
  }
}

@include media-breakpoint-up(lg) {
  ol,
  ul,
  dl {
    // padding: 0 0 0 40px;
    padding: 0 0 0 2.5rem;
  }
}

code {
  background-color: #f9f2f4;
  border-radius: 4px;
  color: #c7254e;
  font-size: 90%;
  padding: 2px 4px;
}

.page-heading {
  font-size: 2.25rem;
}
