body {
  word-break: break-word;
}

a {
  word-break: keep-all;
}

h1,
.h1,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  margin: 0 0 1rem;
}

h2,
.h2 {
  margin: 0 0 1.25rem;
}

table,
.table {
  margin: 0 0 2rem;
}

