.page-gallery {
  h2,
  h4 {
    color: $cwl-red;
  }

  h3 .heading__anchor-symbol,
  h4 .heading__anchor-symbol {
    display: none;
  }
}

@include media-breakpoint-up(md) {
  h3 .heading__anchor-symbol,
  h4 .heading__anchor-symbol {
    display: inline;
  }
}

.adopter-entry,
.adopter-row-top,
.adopter-logo {
  margin: 0 0 12px;
}

.adopter-entry {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
}

.adopter-row-top {
  order: 2;
  word-break: break-word;
}

.adopter-title {
  font-size: 1.25em;
  margin: 0 0 2px;
}

.adopter-link {
  width: 100%;
}

.adopter-logo {
  max-height: 150px;
  max-width: 96%;
  order: 1;
}

@include media-breakpoint-up(lg) {
  .adopter-row-top {
    margin: 0 56px 0 0;
    max-width: 540px;
  }

  .adopter-row-top,
  .adopter-logo {
    order: initial;
  }

  .adopter-logo {
    height: 100%;
    margin: 0;
    max-width: 300px;
  }
}

@include media-breakpoint-up(xl) {
  .adopter-entry {
    display: flex;
    grid-gap: 0;
  }

  .adopter-row-top {
    margin: 0 120px 0 0;
    max-width: 700px;
  }

  .adopter-logo {
    height: 100%;
    max-width: 400px;
  }
}

.adopter-sub-title {
  font-size: 1.25em;
  margin: 0;
}
