// Colors
$white: #fff;
$cwl-red: #b5314c;
$twitter-blue: #08a0e9;
$black: #000;
$salmon: #f5ecdf;

$table-border-light: #dee2e6;
$footer-bg-color: $cwl-red;
$footer-link-old-color: #005285;
$footer-link-old-hover-color: #22527c;

$nav-item-margin: 0.5rem;
