---
layout: page
permalink: /gallery/
title: CWL Users Gallery
redirect_from:
  - /cwl-adopters
  - /users-gallery
left_nav_slug: users_gallery_left
class: users-gallery has-left-nav
---

{% capture intro %}
The CWL standards have become central to a diverse community of users across multiple fields of science and engineering. Below are listed some adopters of the CWL standards.

Note: Listing does not imply endorsements of the CWL standards by the entity nor endorsement of the entity by the CWL project

The CWL 2021 Mini-Conference was on February 8-10th. All videos are accessible online via YouTube and Conf.TubSee. Additionally, see [the list of over 390 citations and mentions of CWL in published papers and reports](https://www.zotero.org/groups/2294829/cwl/items)
{% endcapture %}.

<div class="intro">{{ intro | markdownify }}</div>

{% include left_nav.html %}

<div class="gallery-content">
{% for section in site.data.users-gallery.gallery %}
  {% assign title = section.title %}
  {% assign adopters = section.adopters %}

  {% if section.subsection == null %}
    {% assign adopter_heading = "h3" %}
  {% elsif section.subsection != null %}
    {% assign sub_adopters = section.subsection.adopters %}
  {% endif %}

  {% if title != null %}
    <h2 id="{{ title | downcase | replace: " ", "-" }}">{{ title }}</h2>
  {% endif %}

  {% for adopter in adopters %}
    {% include users-gallery.html %}
    {% for adopter in sub_adopters %}
      {% capture loop_check %}
      {% if forloop.first %}
        {% increment counter %}
      {% endif %}
      {% endcapture %}
    {% if counter == 1 %}
      {% assign adopter_heading = "h4" %}
      {% include users-gallery.html %}
    {% endif %}
    {% endfor %}
  {% endfor %}

{% endfor %}
</div>
