<div class="social-bar">
	<a href="https://gitter.im/common-workflow-language/common-workflow-language?utm_source=badge&amp;utm_medium=badge&amp;utm_campaign=pr-badge&amp;utm_content=badge" style="padding-right: 1em"><img src="https://badges.gitter.im/Join%20Chat.svg" alt="Gitter" width="99" height="20"></a>
	<a href="https://github.com/common-workflow-language/common-workflow-language/stargazers" style="padding-right: 1em"><img src="https://img.shields.io/github/stars/common-workflow-language/common-workflow-language.svg" alt="GitHub stars" height="20"></a>
	<a href="{{ site.url }}/#Support" class="cwl-support"><b>CWL Community Support</b></a>
	<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top" style="display:inline;">
		<input type="hidden" name="cmd" value="_s-xclick">
		<input type="hidden" name="hosted_button_id" value="Z55VS5LBBSZTJ">
		<input type="image" class="paypal-btn" src="{{ "/assets/img/donate-button2.png" | relative_url }}" name="submit" alt="Donate to Common Workflow Language via PayPal">
	</form>
</div>
