<ul class="nav navbar-nav mr-auto mt-2 mt-lg-0">
  {%- if site.data.navigation.header[0] -%}
    {%- for item in site.data.navigation.header -%}
      {%- if item.type contains "dropdown" -%}
        <li class="dropdown nav-item">
          <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ item.title}}<span class="caret"></span></a>
          {%- if item.subfolderitems[0] -%}
            <ul class="dropdown-menu">
              {%- for entry in item.subfolderitems -%}
                {%- if entry.url contains "http" or "http" contains entry.url -%}
                  <li class="dropdown-item nav-item"><a class="nav-link" href="{{ entry.url }}">{{ entry.page }}</a>
                {%- else -%}
                  <li class="dropdown-item nav-item"><a class="nav-link" href="{{ entry.url | absolute_url }}">{{ entry.page }}</a>
                {%- endif -%}

                    {%- if entry.subfolderitems[0] -%}
                    <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Dropdown
                      </a>
                      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Something else here</a>
                      </div>
                    </li>
                      <ul>
                      {%- for subentry in entry.subfolderitems %}
                          <li><a href="{{ site.url }}{{ subentry.url }}">{{ subentry.page }}</a></li>
                      {%- endfor -%}
                      </ul>
                    {%- endif -%}
                  </li>
              {%- endfor -%}
            </ul>
        </li>
          {%- endif -%}
          {%- elsif entry.url contains "http" or "http" contains entry.url -%}
          <li class="nav-item"><a class="nav-link" href="{{ item.url }}">{{ item.title }}</a>
          {%- else -%}
        <li class="nav-item"><a class="nav-link" href="{{ item.url | absolute_url }}">{{ item.title }}</a>
      {%- endif -%}
    {%- endfor -%}
  {%- endif -%}
</ul>
