.home-nav-container {
	background-color: #f5ecdf;
	border: 1px solid #212529;
	border-radius: 6px;
	// border: 5px;
	float: left;
	line-height: 1.45;
	margin-bottom: 1em;
	margin-right: 1.5em;
	padding: 1em;

	ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
	}
}
