.top-nav {
  background: $header--background-color;
  justify-content: space-between;
  max-height: 50px;
  padding: 0;
  width: 100%;
}

.dropdown {
  color: black;
  padding: 0 1rem 0 0;
}

.navbar-nav {
  align-items: flex-start;

  a {
    color: $nav--link-color;
  }
}

.search-bar-top {
  display: none;
  position: absolute;
  // 34px would match the distance of the logo
  // right: 34px;
  right: $navbar--right-spacing;
}

.site-logo-link {
  align-items: center;
  display: flex;
  font-family: $font-family-sans-serif;
  height: 50px;
  line-height: 20px;
  // margin: 1px 0 0 -5px;
  margin: 0.5px 0 0 -5px;
  padding: 0;
}

.site-logo-img {
  display: block;
  height: 61px;
  margin: 0;
  max-width: unset;
  padding: 0;
}

.navbar-toggler {
  // margin: 1px 0 0;
  margin: 0 $navbar--right-spacing 0 0;
  position: static;
}

.dropdown-menu {
  justify-content: flex-end;
  justify-self: flex-end;
  // min-width: 60%;

  &.show {
    display: block;
  }
}

.navbar-collapse {
  background: $header--background-color;
  display: flex;
  justify-content: flex-end;
  padding: 0 15px;
}

.collapse.show .nav-link:last-child {
  padding: 8px 0 16px;
}

@include media-breakpoint-up(lg) {
  .top-nav {
    padding: 0.5rem 1rem 0.5rem 0;
    width: 100%;
  }

  .logo-container {
    position: static;
    // width: 135px;
  }

  .site-logo-link {
    // margin: 0 20px 0 0;
    // margin: 0;
    margin: 1 20px 0 -5px;
  }

  .navbar-nav {
    justify-content: flex-start;
    margin: 0 0 0 -24px;
    // width: 60%;
  }

  .nav-item {
    padding: 0 1rem;
  }

  .search-bar-top {
    display: block;
  }
}

@include media-breakpoint-up(xl) {
  .top-nav {
    width: 100%;
  }

  .navbar-nav {
    margin: 0;
  }

  .site-logo-link {
    margin: 1px 0 0 -5px;
  }
}

