.top-nav {
  width: 90%;
}

.dropdown {
  padding: 0 1rem;
  color: black;
}

.navbar-nav a {
  color: rgba(0,0,0,0.5);
}

.search-bar-top {
  position: absolute;
  right: 0;
}


.toc-nav-container {
  background-color: #f5ecdf;
  border: 1px solid #212529;
  border-radius: 6px;
  // border: 5px;
  color: #337ab7;
  float: left;
  line-height: 1.45;
  margin-bottom: 1em;
  margin-right: 1.5em;
  padding: 1em;

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  a {

    color: #005285;

    &:hover {
      color: #22527c;      
    }
  }
}

@media only screen and (max-width: 992px) {
  .site-header .container {
    flex-wrap: nowrap;
  }

  .logo-container {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 20000000;
    height: 100%;
    min-height: 60%;
    top: 0;
    left: 0;
  }

  img.site-logo {
    margin: -20px 0 0;
  }

  .logo-link {
    margin: 0;
  } 

  .top-nav {
    justify-content: flex-end;
    width: 100%;
  }

  .dropdown-menu {
    justify-content: flex-end;
    justify-self: flex-end;
    min-width: 60%;
  }

  .dropdown-toggle.nav-link {
    width: 60%;
    min-width: 60%;

  }

  .navbar-collapse {
    display: flex;
    justify-content: flex-end;
  }

  .search-bar-top {
    display: none;
  }

  ul.nav.navbar-nav {
    min-width: 60%;
    align-items: flex-end;
  }

  li.dropdown.nav-item.show {
    justify-content: flex-end;
    /* align-items: flex-end; */
    display: flex;
    flex-wrap: wrap;
  }

  .nav-item.show {
    text-align: right;

    ul li a {
      text-align: right;
      text-align: left;
    }
  }
}
