// body {
//   padding: 61px 0 0;
// }

/**
 * Fix for Sticky Footer
 */
.site-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 61px 0 0;
}

.content-wrapper {
  // Double-check if these are equivalent
  flex: 1 0 auto;
  flex: 1;
}

.container-md,
.container {
  max-width: initial;
}

@include media-breakpoint-up(md) {
  .container-md,
  .container {
    max-width: 750px;
  }
}

// Content-Area Width
@include media-breakpoint-up(lg) {
  .container-lg,
  .container {
    max-width: 970px;
  }
}

@include media-breakpoint-up(xl) {
  .container-xl,
  .container {
    max-width: 1170px;
  }
}

/**
 * Header Offset Fix for Anchor Links
 */
h2::before { 
  display: block; 
  content: " "; 
  margin-top: -65px; 
  height: 65px; 
  visibility: hidden; 
  pointer-events: none;
  z-index: 1;
}

h3::before { 
  display: block; 
  content: " "; 
  margin-top: -65px; 
  height: 65px; 
  visibility: hidden; 
  pointer-events: none;
  z-index: 1;
}

/**
 * Tables
 */

.table {
  margin: 0 0 1.25rem;
  
  th,
  td {
    padding: 0.5rem;
    width: 30%;
  }

  thead th {
    border-top: 0;
  }

  a {
    word-break: break-all;
  }
}

@include media-breakpoint-up(md) {
  .table {
    th,
    td {
      width: initial;
    }
  }
}
