h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  margin: 20px 0 10px;
}

h1,
.h1 {
  // font-size: 2.25rem;
  // line-height: 1.1;
  margin: 20px 0 10px;
}

h2,
.h2 {
  font-size: 1.875rem;
  margin: 20px 0 10px;
  /* font-weight: 500; */
  /* line-height: 1.1; */
}

h3,
.h3 {
  font-size: 1.5rem;
}

code {
  padding: 2px 4px;
  font-size: 90%;
  color: #c7254e;
  background-color: #f9f2f4;
  border-radius: 4px;
}

.page-heading {
  font-size: 2.25rem;
}
