$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1170px
) !default;

$blue: #337ab7 !default;
$dark-blue: #23527c !default;
$grey: #f8f8f8;;
$font-size-base:              0.875rem !default; // Assumes the browser default, typically `16px`
$font-size-lg:                $font-size-base * 1.25 !default;
$font-size-sm:                $font-size-base * .875 !default;

$line-height-base:            1.43 !default;

$paragraph-margin-bottom:   0.625rem !default;

// $h1-font-size:                $font-size-base * 2.5 !default;
// $h2-font-size:                $font-size-base * 2 !default;
// $h3-font-size:                $font-size-base * 1.75 !default;
// $h4-font-size:                $font-size-base * 1.5 !default;
// $h5-font-size:                $font-size-base * 1.25 !default;
// $h6-font-size:                $font-size-base !default;

// $headings-margin-bottom:      $spacer / 2 !default;
// $headings-font-family:        null !default;
// $headings-font-weight:        500 !default;
// $headings-line-height:        1.2 !default;
// $headings-color:              null !default;

$h1-font-size: 2.25rem;

$headings-line-height:        1.1 !default;

$font-family-sans-serif:      -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji', Arial, sans-serif !default;

$font-family-sans-serif: 'Helvetica Neue', Helvetica, Arial, sans-serif;

$header--background-color: #f8f8f8;
$header--border-color: #e7e7e7;
$navbar--right-spacing: 31px;
$nav--link-color: rgba(0, 0, 0, 0.5);
$link-color: $blue;
$link-hover-color: $dark-blue;

$headings-margin-bottom: 10px;

$toc--background-color: #f5ecdf;
$toc--border-color: #212529;
