@import 'partials/variables';
@import 'bootstrap/bootstrap';
@import 'partials/structure';
@import 'partials/type';
@import 'partials/header';
@import 'partials/nav';
@import 'partials/home';
@import 'partials/footer';
