.cwl-announcement {
  background-color: $cwl-red;
  color: $white;
  padding: 0 1rem;
  text-align: center;

  h3 {
    font-size: 1.5rem;
    line-height: 2;
  }
}

@include media-breakpoint-up(md) {
  .cwl-announcement {
    h3 {
      font-size: 1.75rem;
    }
  }
}

@include media-breakpoint-up(lg) {
  .intro-container {
    display: flex;
    justify-content: space-around;
  }

  .intro-text {
    font-size: 20px;
    text-align: center;
    width: 40%;
  }
}
