.cwl-announcement {
  background-color: $cwl-red;
  color: $white;
  // font-size: 20px;
  font-size: 24px;
  line-height: 1.625;
  text-align: center;
}

.intro-container {
  display: flex;
  justify-content: space-around;
}

.intro-text {
  width: 30%;
}

.youtube-container {
  max-width: 560px;
}

.features-grid {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.feature-item {
  align-items: center;
  display: flex;
  flex-basis: 33%;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 20px 0;
  padding: 12px;
  text-align: center;
}

.feature-item img {
  height: 100px;
  width: 100px;
}


// Twitter Feed
.twitter-feed {
  clear: both;
  width: 80%;
}

.twitter-icon {
  width: 1.25rem;
}

@include media-breakpoint-up(sm) {
  .twitter-feed {
    float: right;
    margin: 0 0 0 36px;
    width: initial;
  }
}

@include media-breakpoint-up(xl) {
  .twitter-feed {
    margin: 16px 0 0 36px;
  }
}
