<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

  <div class="site-wrapper page-{{ page.class }}">
    {%- include top_nav.html -%}
    {% if page.class contains 'home' or page.title == 'Home' %}
      {%- include header.html -%}
    {% endif %}

    <div class="container content-wrapper">
      <div class="row">
        <main class="col-md-12" role="main" id="main">
          {{ content }}
        </main>
      </div>      
    </div>

    {%- include footer.html -%}
  </div>

  {%- include footer-scripts.html -%}

  </body>

</html>
