<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>
  <ul class="skip-nav">
    <li><a class="sr-only sr-only-focusable skip-link" href="#main">Skip to main content</a></li>
    <li><a class="sr-only sr-only-focusable skip-link" href="#site_footer">Skip to footer</a></li>
  </ul>
  <div class="site-wrapper {{ page.class }} page-{{ page.permalink | downcase | replace: "/", "" | replace: " ", "-" }}">
    {%- include top_nav.html -%}
    {% if page.class contains 'home' or page.title == 'Home' %}
      {%- include header.html -%}
    {% endif %}

    <div class="container content-wrapper">
      <div class="row">
        <main class="col-md-12" role="main" id="main">
          {% include anchor_headings.html html=content anchorBody="§" anchorClass="heading__anchor-symbol" %}
        </main>
      </div>      
    </div>

    {%- include footer.html -%}
  </div>

  {%- include footer-scripts.html -%}

  </body>

</html>
