<h2 id="getting-started" class="section">Getting Started <a name="#Getting_Started" href="#Getting_Started">§</a></h2>

<link rel="stylesheet" href="assets/plyr/plyr.css">
<div class="youtube-container" width="560" height="315">
  <div class="title-bar"><a>Common Workflow Language explained in 64 seconds</a></div>
  <video id="player" class="cwl-intro-video" controls poster="/assets/img/intro_video_poster_no_title.png">
    <source src="{{ "/assets/video/cwl-intro-video.mp4" | relative_url }}" type="video/mp4">
    <track src="{{ "/assets/video/subtitles.vtt" | relative_url }}" label="English" kind="captions" srclang="en-us" default >
    <track src="{{ "/assets/video/subtitles2.vtt" | relative_url }}" label="French" kind="captions" srclang="fr_FR" default >

  Your browser does not support the video tag.
  </video>  
</div>

<script src="assets/plyr/plyr.min.js"></script>
<script>
  const player = new Plyr('#player', {
    controls: [
      'play-large',
      'play',
      'mute',
      'volume',
      'progress',
      'current-time',
      'duration',
      // 'restart',
      'fullscreen',
      'captions',
      'settings'
    ],
    title: 'Common Workflow Language explained in 64 seconds',
    options: ['captions', 'quality', 'speed', 'loop'],
  });
</script>

The [CWL user guide]({{ site.url }}/user_guide/) provides a gentle introduction to learning how to write CWL command line tool and workflow descriptions.

Browse [CWL Implementations]({{ site.url }}/#Implementations) to find a software package that's right for you. 

[**CWL Recommended Practices**](http://www.commonwl.org/user_guide/rec-practices/) 

[CWLの日本語での解説ドキュメント](https://github.com/pitagora-galaxy/cwl/wiki/CWL-Start-Guide-JP) is a 15 minute introduction to the CWL project in Japanese.

A series of [video lessons about CWL](https://stepik.org/lesson/35918/step/1?unit=15070) is available in Russian as part of the [Управление вычислениями](https://stepik.org/course/1612/syllabus)(Computation Management) free online course.
