<a name="Support"></a>
<h2 id="Support,_Community_and_Contributing" class="section">Support, Community and Contributing <a href="#Support,_Community_and_Contributing">§</a></h2>

The recommended place to ask a question about all things CWL is on [the CWL Discourse Group](https://cwl.discourse.group/). Previously we used [biostars.org](https://www.biostars.org/t/cwl/) where you can still read older responses.

If you are interested in learning more or contributing ideas or code, [come chat with us on Gitter](https://gitter.im/common-workflow-language/common-workflow-language), check out [#CommonWL on Twitter](https://twitter.com/search?q=%23CommonWL), join the [mailing list common-workflow-language on Google Groups](https://groups.google.com/forum/#!forum/common-workflow-language) or [fork the repository](https://github.com/common-workflow-language/common-workflow-language) and send a pull request!

Besides the web interface for the mailing list, one can also join by sending a blank email to [common-workflow-language+subscribe@googlegroups.com](mailto:common-workflow-language+subscribe@googlegroups.com) and replying to the automated message.

<h3 id="Code_of_Conduct" class="section">Code of Conduct <a href="#Code_of_Conduct">§</a></h3>

The CWL Project is dedicated to providing a harassment-free experience for everyone, regardless of gender, gender identity and expression, sexual orientation, disability, physical appearance, body size, age, race, or religion. We do not tolerate harassment of participants in any form. This code of conduct applies to all CWL Project spaces, including the Google Group, the Gitter chat room, the Google Hangouts chats, both online and off. Anyone who violates this code of conduct may be sanctioned or expelled from these spaces at the discretion of the leadership team.

For more details, see our [Code of Conduct](https://github.com/common-workflow-language/common-workflow-language/blob/main/CODE_OF_CONDUCT.md).
