<div class="feature-item feature-community">
  <img src="{{ "/assets/img/noun_Community_943325.svg" | absolute_url }}" class="section-icon" alt="Community Icon - four people connected via a circle">
  <h2 id="community">Community</h2>

{% capture community_content %}

<figure class="float-right"><a href="https://open-stand.org/about-us/principles" class="open-stand"><picture><source srcset="https://github.com/common-workflow-language/cwl-website/raw/main/openstand-128x128-blue.webp" type="image/webp"><img src="{{ "/Common Workflow Language_files/openstand-128x128-blue.png" | absolute_url }}" alt="Open Stand badge - the modern paradigm for standards" width="128" height="128"></picture></a></figure>

CWL is developed by a multi-vendor working group consisting of organizations and individuals aiming to enable scientists to share data analysis workflows. [The CWL project is maintained on Github](https://github.com/common-workflow-language/common-workflow-language) and we follow the [Open-Stand.org principles for collaborative open standards development](https://open-stand.org/about-us/principles/). Legally CWL is a member project of [Software Freedom Conservancy](https://sfconservancy.org/news/2018/apr/11/cwl-new-member-project/) and is formally managed by the elected [CWL leadership team](https://www.commonwl.org/#Leadership_Team), however every-day project decisions are made by the [CWL community](https://www.commonwl.org/#Support) which is open for participation by anyone.
{% endcapture %}

  <div class="community-container">{{ community_content | markdownify }}</div>
</div>
