<section class="page-section indented community">
  <div class="section-header">
    <img src="assets/img/noun_Community_943325.svg" class="section-icon" alt="Community Icon">
    <h2 id="community">Community</h2>
  </div>

{% capture community_content %}

<figure class="float-right"><a href="https://open-stand.org/about-us/principles" class="open-stand"><picture><source srcset="https://github.com/common-workflow-language/cwl-website/raw/main/openstand-128x128-blue.webp" type="image/webp"><img src="./Common Workflow Language_files/openstand-128x128-blue.png" alt="Open Stand badge" width="128" height="128"></picture></a></figure>

CWL is developed by a multi-vendor working group consisting of organizations and individuals aiming to enable scientists to share data analysis workflows. The CWL project is maintained on Github and we follow the Open-Stand.org principles for collaborative open standards development. Legally CWL is a member project of Software Freedom Conservancy and is formally managed by the elected CWL leadership team, however every-day project decisions are made by the CWL community which is open for participation by anyone.

If you’re interested in joining the CWL community, we recommend checking out the following resources and forums:

* The place to ask a question about all things CWL is on [the CWL Discourse Group](https://cwl.discourse.group/). Previously we used [biostars.org](https://www.biostars.org/t/cwl/) where you can still read older responses.
* If you are interested in learning more or contributing ideas or code, [come chat with us on Gitter](https://gitter.im/common-workflow-language/common-workflow-language), check out [#CommonWL on Twitter](https://twitter.com/search?q=%23CommonWL), join the [mailing list common-workflow-language on Google Groups](https://groups.google.com/forum/#!forum/common-workflow-language) or [fork the repository](https://github.com/common-workflow-language/common-workflow-language) and send a pull request!
* Besides the web interface for the mailing list, one can also join by sending a blank email to [common-workflow-language+subscribe@googlegroups.com](common-workflow-language+subscribe@googlegroups.com) and replying to the automated response.

The CWL Project is dedicated to providing a harassment-free experience for everyone, regardless of gender, gender identity and expression, sexual orientation, disability, physical appearance, body size, age, race, or religion. We do not tolerate harassment of participants in any form. This code of conduct applies to all CWL Project spaces, including the Google Group, the Gitter chat room, the Google Hangouts chats, both online and off. Anyone who violates this code of conduct may be sanctioned or expelled from these spaces at the discretion of the leadership team.

For more details, see our [Code of Conduct](https://github.com/common-workflow-language/common-workflow-language/blob/main/CODE_OF_CONDUCT.md).
{% endcapture %}

  {% include social_stats.html %}
  {{ community_content | markdownify }}
</section>
