<h2 id="getting-started" class="section">Getting Started <a href="#Getting_Started">§</a></h2>

{% include home/video-player.html %}

The [CWL user guide]({{ site.url }}/user_guide/) provides a gentle introduction to learning how to write CWL command line tool and workflow descriptions.

Browse [CWL Implementations]({{ site.url }}/#Implementations) to find a software package that's right for you. 

[**CWL Recommended Practices**](http://www.commonwl.org/user_guide/rec-practices/) 

[CWLの日本語での解説ドキュメント](https://github.com/pitagora-galaxy/cwl/wiki/CWL-Start-Guide-JP) is a 15 minute introduction to the CWL project in Japanese.

A series of [video lessons about CWL](https://stepik.org/lesson/35918/step/1?unit=15070) is available in Russian as part of the [Управление вычислениями](https://stepik.org/course/1612/syllabus) (Computation Management) free online course.
