<section class="page-section intro-container">
  <div class="intro-text">
    <p>Common Workflow Language (CWL) is an open standard for describing how to run command line tools and connect them to create workflows.</p>
    <p>Tools and workflows described using CWL are portable across a
      variety of platforms that support the CWL standards.  Using CWL,
      it easy to scale complex data analysis and machine learning
      workflows from a single developer's laptop up to massively
      parallel cluster, cloud and high performance computing
      environments.</p>
  </div>

  {% include home/video-player.html %}
</section>
