<div class="cwl-announcement"><p>CWL Standard 1.2 Released in XX xx, 2021</p></div>

<section class="page-section intro-container">
  <div class="intro-text"><p>Common Workflow Language (CWL) is a community-driven open standard for describing analysis workflows and tools designed to meet the needs of data-instensive sciences</p></div>

  {% include home/video-player.html %}
</section>

<section class="features-grid">
{% for feature in site.data.home.features %}
  <div class="feature-item">
    <h3 class="feature-title">{{ feature.title }}</h3>
    <img src="assets/img/{{ feature.icon }}" alt="{{ feature.icon-alt }}">
    <p class="feature-text">{{ feature.text }}</p>
  </div>
{% endfor %}
</section>
