<section class="page-section intro-container">
  <div class="intro-text"><p> Common Workflow Language (CWL) is an open standard for descring command line tools and how to connect them  to create workflows. 
<br> <br> Because CWL is a specification and not a specific piece of software, tools and workflows described using CWL are portable across a variety of platforms that support the CWL standard. CWL is well suited for describing large-scale workflows in cluster, cloud and high performance computing environments where tasks are scheduled in parallel across many nodes.

 <br> <br> CWL is designed to meet the needs of data-intensive science, such as Bioinformatics, Medical Imaging, Astronomy, High Energy Physics, and Machine Learning.</p></div>

  {% include home/video-player.html %}
</section>

<section class="features-grid">
{% for feature in site.data.home.features %}
  <div class="feature-item">
    <h3 class="feature-title">{{ feature.title }}</h3>
    <img src="assets/img/{{ feature.icon }}" alt="{{ feature.icon-alt }}">
    <p class="feature-text">{{ feature.text }}</p>
  </div>
{% endfor %}
</section>
