<section class="page-section section-mini-gallery">
  <div class="section-header">
    <h2 id="cwl-users-gallery">Some Users of CWL</h2>
  </div>

  <a class="mini-gallery-wrapper" href="{{ site.url }}/gallery"><div class="mini-gallery">
  {% for section in site.data.users-gallery.gallery %}
    {% assign adopters = section.adopters %}
    {% assign sub_adopters = section.subsection.adopters %}

    {% for adopter in adopters %}
      {% if adopter.image %}
      <div class="mini-gallery-img-container"><img src="{{ adopter.image | absolute_url }}" alt=""></div>
      {% endif %}
    {% endfor %}

    {% for sub_adopter in sub_adopters %}
      {% if sub_adopter.image %}
        <div class="mini-gallery-img-container"><img src="{{ sub_adopter.image | absolute_url }}" alt=""></div>
      {% endif %}
    {% endfor %}

  {% endfor %}
  </div></a>
</section>
