<div class="youtube-container">
  <video id="player" class="cwl-intro-video" controls poster="{{ "/assets/img/intro_video_poster.png" | relative_url }}">
    <source src="{{ "/assets/video/cwl-intro-video-vp9.webm" | relative_url }}" type='video/webm; codecs="vp9,vorbis"'>
    <source src="{{ "/assets/video/cwl-intro-video.mp4" | relative_url }}" type="video/mp4">

    <track src="{{ "/assets/video/subtitles/english.vtt" | relative_url }}" label="English" kind="captions" srclang="en-us" default>
    <track src="{{ "/assets/video/subtitles/french.vtt" | relative_url }}" label="French" kind="subtitles" srclang="fr-fr">
    <track src="{{ "/assets/video/subtitles/italien.vtt" | relative_url }}" label="French" kind="subtitles" srclang="it">
    <track src="{{ "/assets/video/subtitles/lithuanian.vtt" | relative_url }}" label="Lietuvių kalba" kind="subtitles" srclang="lt">
    <track src="{{ "/assets/video/subtitles/romanian.vtt" | relative_url }}" label="Român" kind="subtitles" srclang="ro">
    <track src="{{ "/assets/video/subtitles/russian.vtt" | relative_url }}" label="Русский язык" kind="subtitles" srclang="ru">
    <track src="{{ "/assets/video/subtitles/ukranian.vtt" | relative_url }}" label="Українська" kind="subtitles" srclang="uk">
    <track src="{{ "/assets/video/subtitles/chinese_simplified.vtt" | relative_url }}" label="中文" kind="subtitles" srclang="zh-Hans">
    <track src="{{ "/assets/video/subtitles/japanese.vtt" | relative_url }}" label="日本語" kind="subtitles" srclang="ja">
    <track src="{{ "/assets/video/subtitles/urdu.vtt" | relative_url }}" label="ﺍﺭﺩﻭ" kind="subtitles" srclang="ur">
    See CWL introduction video at
    <a href="https://player.vimeo.com/video/712414782">Vimeo</a>,
    <a href="https://www.youtube.com/watch?v=86eY8xs-Vo8">YouTube</a>,
    download as
    <a href="{{ "/assets/video/cwl-intro-video.mp4" | relative_url }}">mp4</a> or
    <a href="{{ "/assets/video/cwl-intro-video-vp9.webm" | relative_url }}">webm</a>.
  </video>
</div>

<script src="{{ "assets/plyr/plyr.min.js" | relative_url }}"></script>
<script>
  const player = new Plyr('#player', {
    controls: [
      'play-large',
      'play',
      'mute',
      'volume',
      'progress',
      'current-time',
      'duration',
      // 'restart',
      'fullscreen',
      'captions',
      'settings'
    ],
    title: 'Common Workflow Language explained in 64 seconds',
    options: ['captions', 'quality', 'speed', 'loop'],
  });
</script>
